@import '../../_scss/mixins';
@import '../../_scss/variables';


.review_disable {
    width: 100%;
    background: $color-rosa;
    @include flexDirection(column);
    align-items: center;
    text-align: center;
    
    display: none;

    padding: 40px 100px;

    &.review_active {
        display: unset;
    }

    p {
        margin: 20px 0;
    }

    button {
        padding: 15px 20px;
        color: $color-white;
        background: $color-black;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        &:hover {
            transform: scale(1.1);
        }
    }
}