@import '../../_scss/variables';

.adminPage {
    margin-top: 20vh;
    padding-bottom: 40px;

    .adminPage_header {
        padding: 40px 100px;
        width: 100%;

        @media (max-width: $breakpoint-laptop) {
            padding: 40px 50px 40px 50px;
        }
    }

    .adminPage_section {
        width: 100%;
        display: grid;
        grid-template: auto auto / 60% 40%;
        grid-template-areas: 'reviews login' 'liked login';

        padding: 0 100px;

        @media (max-width: $breakpoint-laptop) {
            grid-template: auto auto auto / 100%;
            grid-template-areas: 'login' 'reviews' 'liked';
            padding: 0 40px;
        }

        .adminPage_section_reviews { grid-area: reviews; }
        
        .adminPage_section_liked { grid-area: liked; }

        .adminPage_section_login { 
            grid-area: login; 
            border-left: 1px solid black; 
            padding-left: 40px; 

            @media (max-width: $breakpoint-laptop) {
                border-bottom: 1px solid black;
                border-left: unset;
                padding: 0 0 20px 0;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            button {
                padding: 10px 15px;
                border: none;
                background: $color-black;
                color: $color-white;
                border-radius: $border-radius;
                box-shadow: $border-shadow;
                margin-top: 10px;

                &:hover {
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
        }

        article {
            min-height: 30vh;

            @media (max-width: $breakpoint-laptop) {
                margin-top: 20px;
            }
        }
    }
}