@import '../../_scss/variables';

.myLiked {
    margin-top: 10px;
    width: 90%;
    height: fit-content;

    @media (max-width: $breakpoint-laptop) {
        width: 100%;       
    }
    
    tr {
        display: grid;
        grid-template-columns: 50% 30% 20%;
        text-align: start;
        padding: 5px 0;
        border-bottom: 1px solid grey;

        @media (max-width: $breakpoint-laptop) {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto auto auto;
            padding: 10px 0;
        }

        th {
            text-align: start;
        }

        &:first-child {
            border-bottom: 1px solid black;;
        }

        td {
            text-align: start;

            & > * {
                width: 48%;
            }
        }
    }
}